.devon.reveal  .title-with-image img {
    margin-right: 0.5em;
}

.reveal h1.no_upper,
.reveal h2.no_upper,
.reveal h3.no_upper,
.reveal h4.no_upper,
.reveal h5.no_upper,
.reveal h6.no_upper {
	text-transform: none;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal section img.middle {
	vertical-align : middle;
}

div.margin_top_30 {
	margin-top: 30px;
}

h1.highlight, h2.highlight, h3.highlight, p.highlight, span.highlight {
    color: #71e9f4;
}

div.column {
    display: inline-block;
    margin-right: 40px;
}

p.title_image img.white_solid_border {
    border: 4px solid #ffffff;
}

p.justify_text {
    text-align: justify;
}

p.align_right {
    text-align: right;
}

.reveal pre {
    border: 3px white solid;
}

.reveal p {
    margin: 0;
}

.reveal #js-engine pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
    background: #3F3F3F;
    color: #DCDCDC;
    font-size: 90%;
}

.reveal #js-engine {
    height: 560px;
}

.reveal .title_image img {
    background: transparent;
    margin: 0 40px;
}

.reveal section pre {
    width: 100%;
}

.reveal section .list-style-none {
    list-style: none
}

.reveal section .margin-top-40 {
    margin-top: 40px;
}

html.img-center-fill div.slide-background.present {
    background-position: center;
    background-size: contain;
}

.reveal section .text-align-left {
    text-align: left;
}

.reveal section .font-style-italic {
    font-style: italic;
}

.reveal section div.side-by-side {
    width: 960px;
}

.reveal section div.side-by-side div {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.reveal section pre code.code-without-max-height {
    max-height: unset;
}

.reveal section .inline-block {
    display: inline-block;
    vertical-align: top;
}

.reveal section .width-70-percent {
    width: 70%;
}

.reveal section .margin-top-70 {
    margin-top: 70px;
}